<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30030">
        <setting id="limite" type="bool" label="30031" default="true"/>
    </category>
    <category label="30028">
        <setting id="local" type="bool" label="30022" default="false"/>
        <setting id="local-folder" type="folder" label="30023" default="" enable="!eq(-1,false)"/>
    </category>
    <category label="30029">
        <setting id="thumbs" type="bool" label="30025" default="false"/>
        <setting id="thumbs2" type="enum" lvalues="30026|30027" default="0" enable="!eq(-1,false)"/>
    </category>
</settings>
